@media only screen and (min-width: 500px) {
    body {
        min-width: 636px;
        max-width: 792px;
        height: fit-content;
        padding: 30px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 300px;
        padding: 30px;
        height: fit-content;
    }
}

.temprature {
    display: inline-block;
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Light;
    font-size: 90px;
    font-weight: 300;
    height: 96px;
    line-height: 96px;
    width: 131px;
    vertical-align: top;
    margin-right: 144px;
}

.selectedButton {
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background: rgb(56, 153, 236);
    border-radius: 4px 4px 4px 4px;
    height: 24px;
    width: 24px;
    outline: none;
}

.notSelectedButton {
    color: rgb(122, 146, 165);
    font-family: HelveticaNeue-Roman;
    background: rgba(255, 255, 255, 0);
    border-radius: 4px 4px 4px 4px;
    border: 0px;
    font-size: 14px;
    height: 24px;
    outline: none;
    width: 24px;
}

.today_container {
    display: flex;
}

.today_details_container {
    display: inline-flex;
    vertical-align: middle;
    margin-top: 8px;
    float: right;
    width: 100%;
    justify-content: space-between;
}

.today_details {
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    height: 72px;
    width: fit-content;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    /* .today_details { */
        /* min-width: 100px; */
    /* } */

    .today_container {
        flex-wrap: wrap;
    }

    .today_details_container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.seperator {
    background: rgb(223, 229, 235);
    border-radius: 0px 0px 0px 0px;
    height: 1px;
}

.week_title {
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    width: 35px;
}

.days_container {
    display: flex;
    margin-top: 8px;
    flex-grow: 1;
    justify-content: space-between;
}

.days_container .day_of_week {
    height: 98px;
    vertical-align: top;
    text-align: center;
}

.days_container .day_of_week .day_title {
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Medium;
    font-size: 12px;
    font-weight: 500;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.days_container .day_of_week .day_icon {
    width: 36px;
    display: inline-block;
    /* background: rgb(253, 177, 12); */
    text-align: center;
    /* padding-top: 6px;
    padding-bottom: 6px; */
}

.days_container .day_of_week .day_icon img {
    height: 24px;
    width: 24px;
    /* background: rgb(253, 177, 12); */
}

.days_container .day_of_week .day_details {
    height: 15px;
    color: rgb(22, 45, 61);
    font-size: 12px;
    font-family: HelveticaNeue-Medium;
    font-weight: 500;
    text-align: center;
    line-height: 15px;
}

.days_container .day_of_week .day_details div {
    display: inline-block;
    width: 24px;
}

.days_container .day_of_week div.low {
    color: rgb(120, 120, 120);
}

@media only screen and (min-width: 500px) {
    .days_container {
        display: flex;
    }
    .days_container .day_of_week {
        display: block;
        justify-content: space-between;
    }
    .days_container .day_of_week .day_title {
        display: block;
    }

}

@media only screen and (max-width: 500px) {
    .days_container {
        display: block;
    }
    .days_container .day_of_week {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .days_container .day_of_week .day_title {
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
    }

    .days_container .day_of_week .day_details {
        line-height: 24px;
    }
}

.today_details img {
    height: 30px;
    width: 39px;
}

.today_details div {
    text-align: center;
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
}
.header .title {
    display: inline-block;
    color: rgb(22, 45, 61);
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    width: 80px;
}

.header .units_buttons {
    float: right;
}

form input {
    width: 150px;
    height: 24px;
    margin-right: 16px;
}
form button {
    width: 80px;
    height: 30px;
    color: rgba(255, 255, 255, 255);
    background: rgb(56, 153, 236);
    border-radius: 4px 4px 4px 4px;
    outline: none;
}

.header .details {
    color: rgb(87, 112, 131);
    font-family: HelveticaNeue-Medium;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    letter-spacing: 1.2px;
    line-height: 18px;
    text-transform: uppercase;
}

.header .today {
    text-align: center;
    width: fit-content;
    margin-top: 24px;
}

.header .today .today_image {
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

.header .today .today_title {
    color: rgb(122, 146, 165);
    font-family: HelveticaNeue-Roman;
    font-size: 14px;
    margin-left: 12px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    width: 86px;
}